
__pycache__/
*.pyc
*.json
*.ipynb

libs/demumble
libs/testService
libs/registry
*.backup
kcov
jtool2/
jtool2.tgz
*.log
config
demumble-mac.zip

# intermediate files
samples/bluetooth/out*.log
interface_type.json*
testcases/
bluetooth_gen.txt
.config
angr/
cle/
angr-targets/
workdir/
10.15.4/
poc*
*_gen.txt

